body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('bg.jpg');
    background-size: cover;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    background-color: #fff;
    color: red;
    padding: 10px;
    border-radius: 5px;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    color: #ffffff;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    background-color: #df3400c7;
    padding: 20px;
    border-radius: 5px;
}

input {
    margin: 10px 0;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

#map {
    background-image: url('mars.png');
    background-size: cover;
    position: relative;
    margin-left: 20px;
}

#result {
    background-color: #ffffff96;
    padding: 20px;
    border-radius: 5px;
}

.red {
    background-color: red;
    padding: 10px;
}

.blue {
    background-color: blue;
    padding: 10px;
}


#map.hidden {
    display: none;
}

#hover1 {
    position: absolute;
    width: 50px;
    background-color: red;
}

#hover2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: blue;
}


button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}